node_modules/
__pycache__/
*.pyc
.env
*.class
target/
.DS_Store
*.log

docs
infra/**/keys
infra/**/.terraform
infra/**/terraform.tfstate
infra/**/terraform.tfstate.backup
infra/terraform/ec2/inventory.ini


# ansible
infra/ansible/ec2/gather_facts.txt
infra/ansible/ec2/inventory.ini
**/env

