node_modules/
__pycache__/
*.pyc
.env
*.class
target/
.DS_Store
*.log

docs
infra/terraform/keys
infra/terraform/.terraform
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.backup


